{% extends "base.html" %}

{% block content %}
<h1 id="danger_access">Аварийный доступ</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.astro_username.label }}<br>
        {{ form.astro_username(class="form-control") }}<br>
        {% for error in form.astro_username.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.astro_password.label }}<br>
        {{ form.astro_password(class="form-control", type="password") }}<br>
        {% for error in form.astro_password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.cap_username.label }}<br>
        {{ form.cap_username(class="form-control") }}<br>
        {% for error in form.cap_username.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.cap_password.label }}<br>
        {{ form.cap_password(class="form-control", type="password") }}<br>
        {% for error in form.cap_password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}